<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="statics/css/style.css">
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <!-- <script src="statics/js/main.js" defer></script> -->

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>

    <!-- ../public/script.js -->
    <script src="script.js" defer></script>


    <title>Zoom Clone | Geo</title>
</head>

<body>
    <h1>Zoom Clone</h1>

    <div id="video-grid"></div>

</body>

</html>